<template>
  <div class="container">


      
           <div class="row">
               <div class="col-md-4 offset-md-4">
                   <img v-bind:src=" pelicula.Poster" alt="">
               </div>
           </div>

           <div class="row">
        <h1 class="col-md-4 offset-md-4">{{this.$route.params.nombre}}</h1>
      </div>
      <div class="row">

          <div class="col">
                 <p class="text-gray-600 text-xl text-center">
                     {{ pelicula.Plot }}
                 </p>
          </div>

      </div>

          <div class="row">

          <div class="col">
                 
                 <p class="text-gray-600 text-xl text-center">
                     
                    <b>Actores:</b> {{ pelicula.Actors }}
                 </p>
          </div>

      </div>

            <div class="row">

              <div class="col">
                 
                 <p class="text-gray-600 text-xl text-center">
                     
                    <b>Clasificación:</b>{{ pelicula.Rated}}
                 </p>
                 </div>
               </div>
            <div class="row">

                  <div class="col">
                 
                 <p class="text-gray-600 text-xl text-center">
                     
                    <b>Calificaciónes</b>
                     </p>
              
                      
                
                  
                 </div>




              </div>  

              <div class="row">
                  <div class="col-md-4 offset-md-4">
                 
                      <table class="table table-bordered ">
                          <thead>
                            <tr>
                              <th scope="col">Critico</th>
                              <th scope="col">Calificación</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="rating in pelicula.Ratings" v-bind:key="rating.Source" >
                              
                              
                              <td>{{ rating.Source }}</td>
                              <td>{{ rating.Value }}</td>
                            </tr>
                            
                          </tbody>
                        </table>
                     
                  </div>
              </div>
   

    <router-link to="/" class="mt-5 text-xl text-green-600 hover:underline"
      >Volver a la pagina de Inicio</router-link
    >
  </div>
</template>
<script>
import api from  "@/api"
export default {
    name: 'detalle',data(){
    return{
    pelicula: [],
    titulo: this.$route.params.nombre,
    
    }
},
 created() {
    

    api
      .getpeliculas(this.titulo)
      .then(JSON => (this.pelicula = JSON));
   
  }, methods:{
      ver(nombre){
          this.$router.push({ name: "detalle", params: { nombre } });
      }
  },computed:{
      ancho: function() {
          let ancho = 'width:'+this.pelicula.Ratings['1']['Value'];
           return ancho
      }
  }

  }

</script>

<style>

</style>