<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <navi v-bind:productos="lis" />
      </div>
    </div>
    <br>
 
    <div class="row">
      <div class="col"><lista v-on:custom-click="add($event)" /></div>
    </div>
  </div>
</template>

<script>
import lista from "@/components/lista.vue";
import navi from "@/components/navbar.vue";
export default {
  name: "general",data(){
      return{
          lis:[]
      }
  },
  components: {
    lista,navi
  },methods:{
     add(lista) {
       var existe=0;
       this.lis.forEach(element => {
          if(element.id==lista.id){
             if( element.cantida ==0){
               var indice = this.lis.indexOf(lista);
               this.lis.splice(indice,1);
             }
            existe=1
          }
       });
       if(existe==0){
      this.lis.push(lista);}
    }
  }
};
</script>
<style></style>
