<template>
  <div class="container">
    <div class="row" v-if="total">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="producto in productos" v-bind:key="producto.id">
              
               <th v-if="producto.cantidad != 0" scope="row">
                <b-img thumbnail fluid v-bind:src="producto.img" alt="Image 1"></b-img>
              </th>
              <th v-if="producto.cantidad != 0" scope="row">
                {{ producto.nombre }}
              </th>
              <td v-if="producto.cantidad != 0" style="text-aling:right;">
                {{ producto.cantidad }}
                 
              </td>
              <td v-if="producto.cantidad != 0">
                {{ producto.precio }}
              </td>
              <td v-if="producto.cantidad != 0">
                {{ producto.total }}
                
              </td>
              <td v-if="producto.cantidad != 0">
                <button
                  v-on:click="buttonClick(producto)"
                  class="btn btn-ls btn-primary"
                >
                  -
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" v-if="total">
      <div class="col-md-4">Total: {{ total }}</div>
    </div>
     <div class="row" v-if="total">
      <div class="col-md-4">Productos: {{ cantidad }}</div>
    </div>
      <div class="row" v-if="!total">
      <div class="col">Sin Productos</div>
    </div>
    
  </div>
</template>

<script>
export default {
  name: "carrito",
  data() {
    return {
      producto: []
    };
  },
  methods: {
    buttonClick(producto) {
      this.producto.push(producto);
      this.$props.productos.forEach(element => {
        if (element.id == producto.id) {
          element.cantidad -= 1;
          producto.total = producto.precio * producto.cantidad;
          element.existencia += 1;
          if( element.cantidad ==0){
               var indice = this.$props.productos.indexOf(producto);
               console.log(indice+'este es el indice');
               this.$props.productos.splice(indice,1);
             }
        }
      });

      this.$emit("custom-click", producto);
      console.log(producto);
    }
  },
  props: {
    productos: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    total() {
      var total_final = 0;
      this.productos.forEach(element => {
        total_final += element.total;
      });
      return total_final;
    },
       cantidad() {
      
      
      return this.productos.length;
    }
  }
};
</script>
<style></style>
