<template>
   <div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" v-bind:src="pelicula.Poster" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ pelicula.Plot }}</p>
    <a v-on:click="ver(title);" class="btn btn-primary">Leer mas</a>
  </div>
</div>

  </div>
</template>

<script>
import api from  "@/api"
export default {
name: "carta",
props:{
    title: String
},
data(){
    return{
    pelicula: [],
    titulo: this.title
    }
},
 created() {
    

    api
      .getpeliculas(this.titulo)
      .then(JSON => (this.pelicula = JSON));
   
  }, methods:{
      ver(nombre){
          this.$router.push({ name: "detalle", params: { nombre } });
      }
  }
}
</script>

<style>

</style>