<template>
    <div id="peliculas">
        
            <div class="container">
              <div class="row">
                <div v-for="pelicula in peliculas" v-bind:key="pelicula.id">
                  <div class="col-md-4">
                    <carta v-bind:title="pelicula.nombre" />
                  </div>
                  <br>
                  </div>
              </div>
            </div>

            
        
    </div>
</template>

<script>
import carta from "@/components/carta"
export default {
    name:'peliculas',
     components: {
    carta
    
  },
    data(){
        return{
         
  peliculas: [
    {
      "id": 1,
      "nombre": "Megamind"
    
     
    },
    {
      "id": 2,
      "nombre": "Pulp Fiction"
   
    },
    {
      "id": 3,
      "nombre": "Avengers"

    },
    {
      "id": 4,
      "nombre": "300"
    
    },
    {
      "id": 5,
      "nombre": "Iron man 3"
    
    },
    {
      "id": 6,
      "nombre": "Forrest Gump"
   
    },
    {
      "id": 7,
      "nombre": "spider-man"
   
    }
    
  ]
  

        }
    }
}
</script>