<template>
    <div id="formulario" class="container">
    <form id="frm">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" name="nombre" v-model="nombre" id="exampleInputEmail1"  aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" v-model="email" aria-describedby="emailHelp">
                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                 <input type="password" class="form-control" name="paswword" v-model="pass" id="exampleInputEmail1" aria-describedby="emailHelp">
               
            </div>
       
            <button type="button" v-on:click="enviar()" class="btn btn-primary">Submit</button>
        </form>
  
  </div>
</template>

<script>
export default {
name:'formulario',
data(){
    return{
        nombre: null,
        email:null,
        pass:null,
        datos:[]
    }
    
},
methods:{
    enviar(){
   
        var nombre=this.nombre
        var email=this.email
        var pass = this.pass

        this.$router.push({ name: "usuario", params: { nombre,email,pass } });

    }
}
}


</script>

<style>

</style>