<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div  v-for="pestaña in pestañas" v-bind:key="pestaña.id">
                    <li class="nav-item" v-if="!pestaña.extra" >
                    <a class="nav-link" href="#">{{ pestaña.nombre }}</a>
                    </li>
                </div>
                <div v-for="pestaña in pestañas" v-bind:key="pestaña.id">
                    <b-nav-item-dropdown v-if="pestaña.extra" v-bind:text="pestaña.nombre" right>
                    <b-dropdown-item href="#" v-for="extra in pestaña.extra" v-bind:key="extra.id_carrera">{{ extra.carrera }}</b-dropdown-item>
                    </b-nav-item-dropdown>
                </div>
                   
                    <b-nav-item-dropdown  text="carrito" right>
                        
                    <carrito v-bind:productos="productos" />
                    </b-nav-item-dropdown>
                    
                
                
            </ul>
            
        </div>
        </nav>
    </div>

</template>

<script>
import carrito from "@/components/carritto.vue"; 
export default {
    name:'navi',
    data(){
        return{
            pestañas:[
                {
                    id: 1,
                    nombre: "Home",
                    extra: null
                },
                {
                    id: 2,
                    nombre: "Carreras",
                    extra: [
                        {
                            id_carrera: 1,
                            carrera: "administracion"
                        },
                        {
                            id_carrera: 2,
                            carrera: "arquitectura"
                            
                        }
                    ]
                },
                {
                    id: 3,
                    nombre: "Noticias",
                    extra: null
                }
            ]
        }
    },
    components:{
        carrito
    },
    props:{
         productos: {
      type: Array,
      default: () => []
    }
    }
}
</script>

<style>

</style>