<template>


    <div>
        <b-card
         v-bind:title="productos.nombre"
        
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem; "
        class="mb-2"
      
        >
        <b-card-img v-bind:src="productos.img"> </b-card-img>
        <b-card-text>
           Cantidad: {{ productos.existencia }}
           <br>
           Precio: {{ productos.precio}}
        </b-card-text>
        <b-button href="#" variant="primary" v-on:click="buttonClick(productos)">Agregar</b-button>
        </b-card>
    </div>
</template>

<script>
export default {
    name:'products',
    props:{
        productos:{
            type:Object,
            default: () => []
        }
    },
    methods: {
    buttonClick(producto) {
      

      this.$emit("clicks", producto);
      console.log(producto);
    }
    }
}
</script>

<style>

</style>