<template>
  <div class="container">
    <div class="row">
         
        
        {{this.$route.params.nombre}}
        <br>
        {{this.$route.params.email}}
        <br>
        {{this.$route.params.pass}}
    </div>
<br>


      <div class="row">
       <p>
 {{ datos }}
       </p>
           
           
         
      </div>
  </div>
</template>

<script>
export default {
    name: 'usuario',
    computed:{
        datos(){
            var datos=[{ "nombre":this.$route.params.nombre,"email":this.$route.params.email,"pass":this.$route.params.pass}]
            return datos
        }
    }
     

}
</script>

<style>

</style>